@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=M+PLUS+Code+Latin:wght@100..700&display=swap');

html, 
body{
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  min-width: 0;
}

img, iframe {
  max-width: 100%;
  height: auto;
}
/* appbar modification */
.custom-appbar {
  background-color: transparent;
  backdrop-filter: blur(10px); 
}

.section-style{
  padding-top: 30px;
}

@media (min-width: 600px) {
  .section-style{
    padding-top: 50px;
  }
}

.work-grid-section h5 {
  margin-bottom: 5px;
  margin-top: 5px;
}

.work-grid-section p {
  margin-top: 5px;
}

.work-link{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.work-logo {
  width: 120px;
  background-color: white;
}

@media (min-width: 600px) {
  .work-logo {
    width: 200px;
  }
}

.project-dark-section{
  background-color: gray;
  text-align: center;
  padding: 20px;
}

.project-dark-section h4{
  padding-top: 20px;
  font-weight: 500;
}

.project-normal-section .section-para{
  padding-top: 20px;
  text-align: center;
}

@media (min-width: 600px) {
  .project-normal-section .section-para{
    padding-top: 60px;
  }
}

.project-dark-section .section-btn{
  text-decoration: none;
}
.project-light-section{
  background-color: white;
  padding: 20px;
}

.object-detection-img{
  width: 60%;
  padding-left: 0;
  margin-left: 0;
  display: block;
  margin: 0 auto;
}

@media (min-width: 600px) {
  .object-detection-img{
    width: 60%;
    padding-left: 50px;
    margin-left: 50px;
  }
}

.connect-mid-panel{
  text-align: center;
}
.connect-icon{
  width: 30px;
  height: 30px;;
}

.connect-mid-panel h2{
  margin-top: 0;
}

.connect-card{
  height: auto;
  min-height: 200px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 8px solid black;
}

@media (min-width: 600px) {
  .connect-card{
    height: 250px;
    padding-top: 60px;
  }
}

.connect-card .card-text{
  color: black;
}

.connect-card .card-head{
  letter-spacing: 4px;
}

.connect-email-icon{
  color: black;
  width: 25px;
  height: 25px;
}

.connect-social-icon{
  color: black;
  width: 23px;
  height: 23px;
}

a{
  text-decoration: none;
  color: black;
}
.social-icons-row{
  justify-content: center;
}
.social-style{
  margin: 0 8px;
}

.footer{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* css changes for youtube video responsive behaviour */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
